body {
    background-color: #03d3f4;
    /* color: white; */
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bd_container {
    color: white;
    font-size: 150%;
    width: 90%;
    height: 50vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
}

.bd_container > div {
    border-radius: 10px;
    padding-bottom: 10%;
}

h1 {
    color: blue;
}
